[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
googletrans = "==3.1.0a0"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
start = "python3 src/udemy_scraper.py"
